body {
  background-color: cornsilk;
}

.authForms {
  display: flex;
  justify-content: space-between;
}

.navSelect {
  /* border: solid 3px black; */
  font-weight: bolder;
  color: red;
}

.landingPage {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 630px;
  text-align: center;
  border: 2px black solid;
  padding: 0.5rem;
  /* margin: 0.5rem; */
  font-weight: bold;
}

form > * {
  margin: 0.5rem;
}

nav {
  display: flex;
  justify-content: space-around;
  border: 2px black solid;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

nav > a {
  padding: 1rem;
}

h1 {
  text-align: center;
  margin: 0;
}

.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.postContent {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.listing {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 0.5rem;
  margin-top: 0.5rem;
  flex-basis: 30%;
  height: 100px;
}

.listings {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  flex-basis: 33.3333%;
}

.delete:hover {
  background-color: red;
  color: white;
}




.post,
.contact,
.about,
.create {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1rem;
  border: 2px solid black; 
}

.post{
  padding-left: 0rem;
  padding-right: 0rem;
}

.modifyForm,
.createForm {
  margin-left: auto;
  margin-right: auto;
  border: none;
  width: 100%;
}

.postButton {
  max-width: 630px;
  margin-left: auto;
  margin-right: auto;
}

.postInfo {
  display: flex;
  justify-content: space-around;
}


button,
form > button {
  display: flex;
  justify-content: center;
  margin: 0.5rem;
}

button {
  max-width: 630px;
  margin-left: auto;
  margin-right: auto;
}

p {
  margin: 0;
}

.mine {
  font-weight: bold;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border: 4px solid black;
}

@media screen and (max-width: 630px){
  nav,
  .postInfo {
    display: flex;
    flex-direction: column;
    padding: 0rem;
    text-align: center;
  }

  nav > a {
    padding: none;
    border-top: 1px solid black;
    padding: 0.5rem;
  }

  .top {
    border-top: none;
  }

  .listings {
    flex-direction: column;
    width: 100%;
    padding: 0rem;
    
  }

  .listing {
    margin-left: 0rem;
    margin-right: 0rem;
  }

  .authForms {
    flex-direction: column;
    max-width: 600px;
    font-size: 0px;
  }

  form {
    margin-top: 0.5rem;
  }
}